@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

nav{
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    background-color: rgba(233, 233, 233, 0.829);
}

.battleship-heading{
    margin: 0;
    padding-left: 1rem;
    border-left: 2px solid rgba(167, 165, 165, 0.486);
}

nav img{
    height: 1.7rem;
    margin-right: 1rem;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 4rem;
    margin-left: 4rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    font-size: 0.8rem;
}

.player-1{
    margin-right: 2rem;
}

.player-2{
    margin-left: 2rem;
}

.heading-text-one, .heading-text-two{
    font-weight: 600;
    letter-spacing: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.heading-text-one{
    background-color: #e72660fa;
    border-radius: 0.3rem;
}

.heading-text-two{
    background-color: #65708be3;
    border-radius: 0.3rem;
}